# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
build/
dist/

# Environment variables
.env
.env.*
!.env.example
!.env.kysely.example

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
.husky/_

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Debug
.debug/

# Test coverage
coverage/

# Kysely gen
src/database/db.d.ts