<div class="email-footer">
    <p><strong>Sapphire {{brand}}</strong><br>
    123 Financial District, Suite 789<br>
    Mumbai, Maharashtra 400001<br>
    Customer Support: +91 XXXX XXX XXX</p>
    
    <div class="social-links">
        <!-- Placeholder social icons -->
        <div class="social-icon">f</div>
        <div class="social-icon">t</div>
        <div class="social-icon">in</div>
        <div class="social-icon">ig</div>
    </div>
    
    <p>© {{year}} Sapphire {{brand}}. All Rights Reserved.</p>
    
    <div class="disclaimer">
        <p>{{disclaimer}}</p>
    </div>
</div>